[user]
	name  = beanrob
    email = contact.beanrob@gmail.com
	signingkey = /home/bean/.ssh/bruno.key.pub
[core]
	editor = vim
[init]
	defaultBranch = main
[merge]
	tool = vimdiff
[gpg]
	format = ssh
