#!/bin/sh
xrdb ~/.xresources &&

# Compositor
# picom -b &

# Notification daemon
dunst &

# Network manager
nm-applet &

# Enable when using MPD
mpDris2 &

# Setup screen layout
screenmenu both &

# Battery notification script
battery-notify &

# Keyboard layour
setxkbmap -layout us -option caps:escape &

# Restore wallpaper and load colours
~/.fehbg
