#!/bin/sh

# Compositor
# picom -b &

# Notification daemon
dunst &

# Location daemon & redshift
/usr/lib/geoclue-2.0/demos/agent &
redshift-gtk &

# Network manager
nm-applet &

# Enable when using MPD
mpDris2 &
mpdscribble -D --conf ~/.config/mpdscribble/mpdscribble.conf &

# Setup screen layout
# screenmenu monitor &
screenmenu both &
# screenmenu both --left &

# Battery notification script
battery-notify &

# Keyboard layour
setxkbmap -layout us -option caps:escape &

# Restore wallpaper and load colours
~/.fehbg &
xrdb ~/.xresources
