! X colors.
#include ".theme.xresources"

*.foreground: fg
*.background: bg
*.color0:     colour0
*.color1:     colour1
*.color2:     colour2
*.color3:     colour3
*.color4:     colour4
*.color5:     colour5
*.color6:     colour6
*.color7:     colour7
*.color8:     colour8
*.color9:     colour9
*.color10:    colour10
*.color11:    colour11
*.color12:    colour12
*.color13:    colour13
*.color14:    colour14
*.color15:    colour15


URxvt.cursorColor:     fg
URxvt.borderColor:     bg
URxvt.cursorUnderline: true
URxvt.internalBorder:  8
URxvt.font:            -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
URxvt.italicFont:      -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
URxvt.boldFont:        -*-tewi-bold-r-*-*-11-*-*-*-*-*-*-*
